# <font color='Orange'>RFM Analysis For Customer Segmentation</font> 

<div class="alert alert-success">
<b>
The steps we will follow throughout the analysis: <br>

1) Understanding and Preparing Data <br>

2) Calculating RFM Metrics <br>

3) Calculating RF Score <br>

4) Definition of RF Score as Segments <br>

5) Actions</div>

In [2]:
# import modules

import os
import numpy as np
import pandas as pd

from IPython.display import display
from datetime import datetime as dt

## <font color='Orange'>Task 1: Understanding and Preparing Data</font>

In [3]:
######### changeable #########
csv_name = "flo_data_20k.csv"
##############################

csv_path = os.path.realpath(csv_name)

df = pd.read_csv(csv_path)

pd.set_option("display.max_columns", 1500)
pd.set_option("display.width", 1500)

def check_dataframe(dataframe):
    print("\n\n" + " Head ".center(70, "#"))
    display(dataframe.head())
    print("\n\n" + " Columns ".center(70, "#"))
    display(dataframe.columns)
    print("\n\n" + " Statistics Information ".center(70, "#"))
    display(dataframe.describe().T)
    print("\n\n" + " NA Value Information ".center(70, "#"))
    display(dataframe.isnull().sum())
    print("\n\n" + " Information About Entries ".center(70, "#"))
    display(dataframe.info())

check_dataframe(df)

################################ Head ################################

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                          4.0                           1.0                             139.99                            799.38                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                         19.0                           2.0                             159.97                           1853.58  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                          3.0                           2.0                             189.97                            395.35                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                          1.0                           1.0                              39.99                             81.98               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                          1.0                           1.0                              49.99                            159.99                       [AKTIFSPOR]

############################## Columns ###############################

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline', 'order_num_total_ever_online', 'order_num_total_ever_offline', 'customer_value_total_ever_offline', 'customer_value_total_ever_online', 'interested_in_categories_12'], dtype='object')

####################### Statistics Information #######################

                                     count        mean         std    min     25%     50%     75%       max
order_num_total_ever_online        19945.0    3.110855    4.225647   1.00    1.00    2.00    4.00    200.00
order_num_total_ever_offline       19945.0    1.913913    2.062880   1.00    1.00    1.00    2.00    109.00
customer_value_total_ever_offline  19945.0  253.922597  301.532853  10.00   99.99  179.98  319.97  18119.14
customer_value_total_ever_online   19945.0  497.321690  832.601886  12.99  149.98  286.46  578.44  45220.13

######################## NA Value Information ########################

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

##################### Information About Entries ######################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

None

<div class="alert alert-block alert-warning">
<b>We need some new variables that we will use in the analysis of the "frequncy" and "monetary" KPIs.</div>

In [4]:
df["order_num"] = df["order_num_total_ever_offline"] + df["order_num_total_ever_online"]
df["customer_value_total"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]

df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12  order_num  customer_value_total
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                          4.0                           1.0                             139.99                            799.38                           [KADIN]        5.0                939.37
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                         19.0                           2.0                             159.97                           1853.58  [ERKEK, COCUK, KADIN, AKTIFSPOR]       21.0               2013.55
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                          3.0                           2.0                             189.97                            395.35                    [ERKEK, KADIN]        5.0                585.32
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                          1.0                           1.0                              39.99                             81.98               [AKTIFCOCUK, COCUK]        2.0                121.97
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                          1.0                           1.0                              49.99                            159.99                       [AKTIFSPOR]        2.0                209.98

<div class="alert alert-block alert-warning">
<b>There are some features that include date expressions that we will use when calculating RFM metrics. They are of type object in the dataframe. We need to cast them to datetime type.</div>

In [5]:
# type casting (object -> datetime)

df.loc[:, "first_order_date":"last_order_date_offline"] = df.loc[:, "first_order_date":"last_order_date_offline"].astype("datetime64[ns]")

## <font color='Orange'>Task 2: Calculating RFM Metrics</font>

<div class="alert alert-success">
<b> 
Recency: It is the difference between the day of analysis and the day the customer made the last transaction. <br>

Frequeny: It is the total number of transactions performed by the customer. <br>

Monetary: It is the total return earned by the customer.</div>

In [6]:
df["last_order_date"].max() # '2021-05-30'

today_date = dt(2021, 6, 2)

In [7]:
rfm = pd.DataFrame()

rfm["recency"] = (today_date - df["last_order_date"]).dt.days
rfm["frequency"] = df["order_num"]
rfm["monetary"] = df["customer_value_total"]

rfm.head()

   recency  frequency  monetary
0       96        5.0    939.37
1      106       21.0   2013.55
2      187        5.0    585.32
3      136        2.0    121.97
4       87        2.0    209.98

## <font color='Orange'>Task 3: Calculating RF Score</font>

In [8]:
rfm["recency_score"] = pd.qcut(rfm["recency"], 5, labels=[5, 4, 3, 2, 1])
rfm["frequency_score"] = pd.qcut(rfm["frequency"].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
rfm["monetary_score"] = pd.qcut(rfm["monetary"], 5, labels=[1, 2, 3, 4, 5])

rfm.head()

   recency  frequency  monetary recency_score frequency_score monetary_score
0       96        5.0    939.37             3               4              4
1      106       21.0   2013.55             3               5              5
2      187        5.0    585.32             2               4              3
3      136        2.0    121.97             3               1              1
4       87        2.0    209.98             3               1              1

In [9]:
rfm["RF_SCORE"] = rfm["recency_score"].astype(str) + rfm["frequency_score"].astype(str)

rfm.head()

   recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE
0       96        5.0    939.37             3               4              4       34
1      106       21.0   2013.55             3               5              5       35
2      187        5.0    585.32             2               4              3       24
3      136        2.0    121.97             3               1              1       31
4       87        2.0    209.98             3               1              1       31

## <font color='Orange'>Task 4: Definition of RF Score as Segments</font>

In [10]:
seg_map = {
    r'[1-2][1-2]': 'hibernating', # 1. elemanında 1 veya 2, 2.elemanında 1 veya 2
    r'[1-2][3-4]': 'at_risk', # 1. elemanında 1 veya 2, 2.elemanında 3 veya 4
    r'[1-2]5': 'cant_loose', # 1. elemanında 1 veya 2, 2.elemanında 5
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [11]:
rfm["SEGMENT"] = rfm["RF_SCORE"].replace(seg_map, regex=True)

rfm.head()

   recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE          SEGMENT
0       96        5.0    939.37             3               4              4       34  loyal_customers
1      106       21.0   2013.55             3               5              5       35  loyal_customers
2      187        5.0    585.32             2               4              3       24          at_risk
3      136        2.0    121.97             3               1              1       31   about_to_sleep
4       87        2.0    209.98             3               1              1       31   about_to_sleep

In [12]:
rfm.groupby(["SEGMENT"]).agg({"recency" : "mean",
                              "frequency" : "mean",
                              "monetary" : "mean"})

                        recency  frequency     monetary
SEGMENT
about_to_sleep       114.785144   2.401473   359.008963
at_risk              242.606835   4.472373   646.610236
cant_loose           236.444167  10.698333  1474.468217
champions             18.106625   8.934265  1406.625109
hibernating          248.949501   2.394007   366.267062
loyal_customers       83.594763   8.374591  1216.818616
need_attention       114.828676   3.727825   562.142965
new_customers         18.917647   2.000000   339.955544
potential_loyalists   38.155888   3.304289   533.184466
promising             59.921175   2.000000   335.672705